body {
  margin: 0;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

.cl {
  color: black !important;
  text-decoration: none !important;
}

.cl:hover,
.cl.active,
.cl:active {
  color: #28a745 !important;
}

.loader {
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
}

.categories-container {
  background-color: #fff;
  overflow: auto;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
  white-space: nowrap;
  display: flex;
}

.categories-container::-webkit-scrollbar {
  width: 0 !important;
  display: none;
}
